<html>

<head>

	<title> Deployer </title>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
	<script src="../../../bower_components/angular/angular.min.js"></script>
	<!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>-->
	<script src="../../../src/ui-bootstrap-tpls.js"></script>
	<script src="../../../src/app.js"></script>
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
	    <link href="../../../bower_components/toastr/toastr.css" rel="stylesheet" />
    <script src="../../../bower_components/toastr/toastr.js"></script>
	<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../bower_components/font-awesome/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../../src/Registration-Login/styles/forgot-password.css">


	<!--<script src="../../../src/Application/js/angular-cron-jobs.js"></script>-->
	<script src="../../../src/Registration-Login/js/forgot-password.js"></script>
	<script src="../../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<link rel="stylesheet" href="../../../src/Application/theme/bootstrap-theme-superhero.min.css">

	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>

<body ng-app="deployer">
	<div ng-controller="ForgotPassowrd" class="container">
		<div class="logo">
			<h2>&nbsp Forgot Password</h2>
		</div>
		<div class="row">

			<div class="col-sm-4">
				<br><br><br> <br><br>

				<!-- FORGOT PASSWORD FORM -->
				<div>






					<!-- Main Form -->
					<div class="login-form-1">
						<form id="forgot-password-form" ng-submit="getOTP()" class="text-left">
							<div class="etc-login-form">
								<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
							</div>
							<div class="login-form-main-message"></div>
							<div class="main-login-form">
								<div class="login-group">
									<div class="form-group">
										<label for="fp_email" class="sr-only">Email address</label>
										<input type="email" class="form-control" ng-model="user.email" id="fp_email" name="fp_email" placeholder="email address"
										 required>
									</div>
								</div>
								<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
							</div>
							<div class="etc-login-form">
								<p>already have an account? <a href="index.html">click here</a></p>
								<p>new user? To Register Yourself <a href="index.html">click here</a></p>
							</div>
						</form>
					</div>
					<!-- end:Main Form -->
				</div>
			</div>





			<div ng-hide="!showDiv" style="height: 80%; border-style: ridge; border-radius: 5px;" class="col-sm-8">

				<div ng-show="showLoading && !showResetPwd" style="text-align:center; padding-top: 25%">
					<!--   <span ng-show="data.status === 'Waiting'" class="{{statusClassWaiting}}"></span>-->
					<span style=" font-size: 8em;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
				</div>






				<div ng-show="showotp">
					<center>
						<div>
							<form id="forgot-password-form" ng-submit="matchOTP()">
								<div class="etc-login-form">
									<br><br>
									<p>Please Enter OTP Which is sent to your mail.</p>
								</div>
								<div class="login-form-main-message"></div>
								<div class=" login-form-1 main-login-form">
									<div class="login-group">
										<div class="form-group">

											<input type="text" class="form-control" ng-model="user.otp" placeholder="----- OTP -----" required>
										</div>
									</div>
									<button type="submit" class="login-button"><i class="fa fa-check-circle-o"></i></button>
								</div>
								<div>
									<br>
									<span style="color: red" ng-show="showOtpErrorMsg">You Have Entered Wrong OTP</span>
								</div>
							</form>
						</div>
					</center>
				</div>





				<div style="text-align:center; padding-top: 15%" ng-show="showResetPwd">


					<form id="forgot-password-form" ng-disabled="!forgot-password-form.$valid" ng-submit="changePassowrd()">

						<div class="logo">
							<h3>&nbsp !!! Reset Password !!!</h3>
						</div>
						<div class="login-form-main-message"></div>
						<div class=" login-form-1 main-login-form">
							<div class="login-group">
								<div class="form-group">

									<input type="password" title="# must contains one digit from 0-9 
# must contains one lowercase characters
# must contains one special symbols in the list '@#$%' 
# length at least 8 characters and maximum of 20" class="form-control" ng-model="user.pwd" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$/"
									 placeholder="PASSWORD" required>
								</div>
								<div class="form-group">

									<input type="password" title="# must contains one digit from 0-9 
# must contains one lowercase characters
# must contains one special symbols in the list '@#$%' 
# length at least 8 characters and maximum of 20" class="form-control" ng-model="user.cpwd" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$/"
									 placeholder="CONFIRM PASSWORD" required>
								</div>
							</div>
							<button type="submit" class="login-button"><i class="fa fa-check-circle-o"></i></button>
						</div>

						<div>
							<br>
							<span style="color: red" ng-show="showPasswordMsg">{{passwordMsg}}</span>
						</div>



					</form>

				</div>



				<div style="text-align:center; padding-top: 25%" ng-show="showSuccessMsg">
					<div class="login-form-1">
						<form id="forgot-password-form" class="text-left">
							<div class="etc-login-form">
								<p>!!! Your Password Has Been Reset Successfully !!!</p>
							</div>
							<div class="etc-login-form">
								<p>To login <a href="index.html">click here</a></p>
							</div>
						</form>
					</div>
				</div>




			</div>
		</div>
	</div>

</body>

</html>