<html>

<head>

   <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../src/Registration-Login/styles/indexStyle.css">
     <link rel="stylesheet" href="../../../src/Application/theme/bootstrap-theme-superhero.min.css">
</head>

<body>


 <fieldset class="scheduler-border">

    <div class="carousel fade-carousel slide">
        <!-- Overlay -->
      <!--  <div class="overlay"></div>-->

        <!-- Indicators -->
        <!--  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1> Micro Tester</h1>
                        <h3>!!! Tool which help to test your API performance !!!</h3>






                    </hgroup>
                    <div class="login-form-1">
                        <form id="login-form" class="text-left">
                            <div class="login-form-main-message"></div>
                            <div class="main-login-form">
                                <div class="login-group">
                                    <div class="form-group">
                                        <label for="lg_username" class="sr-only">Username</label>
                                        <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="lg_password" class="sr-only">Password</label>
                                        <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
                                    </div>
                                    <!--              <div class="form-group login-group-checkbox">
                                                <input type="checkbox" id="lg_remember" name="lg_remember">
                                                <label for="lg_remember">remember</label>
                                            </div>-->
                                </div>

                            </div>
                            <div class="etc-login-form">
                                <p>forgot your password? <a href="../../../src/Registration-Login/views/forget-password.html">click here</a></p>
                                <p>new user? <a href=" data-slide-to=2" ng-click="">create new account</a></p>
                            </div>
                        </form>
                    </div>
                    <button class="btn btn-hero btn-lg" role="button">Login</button>
                </div>
            </div>
            <div class="item slides" id="2">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are smart</h1>
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are amazing</h1>
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
        </div>
    </div>


 </fieldset>

</body>

</html>