<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Deployer Automation</title>
    <script src="../../bower_components/angular/angular.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="../../src/js/script.js"></script>

</head>

<body ng-controller="myCtrl" ng-init="runCommands()">
    <div ng-click="getResponse()">
        <h4>The response is</h4>
        <ul ng-repeat="x in data">
            <li>{{x}}</li>
        </ul>
         <!--<p>{{data}}</p>-->
    </div>
</body>

</html>