<div ng-controller="deployerCtrl">
    <form>
        <div class=row>
            <div class="col-sm-2">
                <button class="btn btn-warning btn-block" ng-click="addNewProcess()">New Process</button>
            </div>
            <div class="col-sm-8">
                <input class="form-control" ng-change="checkName()" ng-model="process.processName" placeholder="Process Name" type="text">
            </div>
            <div class="col-sm-2">
                <input type="button" title="add process to table" ng-click="addData()" value="{{addtag ? 'ADD' : 'UPDATE'}}" class="btn btn-success btn-block" ng-disabled="nameFlag" />
                <!--<input type="button"   class="btn btn-success btn-block" value="{{addtag ? 'ADD' : 'UPDATE'}}"/>-->
            </div>
        </div>
    </form>
    <br/><br/>
    <div>
        <table class="table table-bordered text-center">
            <tr>
                <th>COMMAND</th>
                <th></th>
            </tr>
            <tr ng-repeat="row in rowMaker track by $index">
                <td>
                    <input type="text" name="value" ng-keydown="addRow($index)" class="form-control" ng-model="row.value" placeholder="Enter command"
                    />
                </td>
                <td class="crossButton">
                    <input type="button" ng-click="deleteRow($index)" value="&times;" />
                </td>

            </tr>
        </table>
        <br/><br/>

        <div class=row>
        <div class="col-sm-2">
            <button class="btn btn-warning btn-block" ng-click="runCommands()">Execute Commands</button>
        </div>
        <div class="col-sm-2">
            <button type="button" data-toggle="modal" data-target="#saveModal" class="btn btn-success btn-block" ng-disabled="totalProcesses.length==0">Save</button>
        </div>

    </div>
    <br/>

        <table class="table table-bordered">
            <tr>
                <th>Process No</th>
                <th>Process Name</th>
                <th>Commands</th>
                <th></th>
            </tr>
            <tr ng-repeat="process in totalProcesses">
                <td>{{process.id}}</td>
                <td>
                    {{process.processName}}
                </td>
                <td>
                    <ol>
                        <li ng-repeat="command in process.commandsData">{{command}}</li>
                    </ol>
                </td>
                <td>
                    <button type="button" title="Edit" ng-click="edit(process)" class="btn btn-primary">Edit</button>
                    <button type="button" title="delete" ng-click="delete(process)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- Modal -->
  <div    class="modal" id="saveModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div style="background:  white" class="modal-content">
    <div style="background:  white" class="modal-header">
        <button type="button" class="close" style="color: red;font-size: 50px" data-dismiss="modal">&times;</button>
       <h4 style="color: darkblue">Do You Want To Save The Changes.</h4>
    </div>
    <div  class="modal-body" >
        
        <div class="row">
            <div class="col-lg-4">
                <h5 style="color: darkblue">Process Title - </h5>
            </div>
            <div class="col-lg-4"><input type="text" class="form-control" ng-model="processTitle" placeholder='{{processData.title}}'   ></div>
            <div class="col-lg-4">
             
           <!--     <div class="checkbox">
                    <label style="color: darkblue"><input  type="checkbox" ng-model="isSuiteNameEdit" ng-checked="!editSuiteName" value="false" >Edit TestSuite Name</label>
                </div>-->
            </div>

        </div>

    </div>
         <div style="background:  white" class="modal-footer">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <input type="button" ng-click="saveProcessName()" data-dismiss="modal" class="btn btn-success btn-block" value="Save">
            </div>
        </div>
        
    </div>
      </div>
      
    </div>
  </div>
  
</div>